@import '../../scss/colors';


.login-form {
  border: 1px solid white;
  border-radius: 5px;

  .change-route-link {
    color: white;
    text-decoration: inherit;
    transition: 0.2s;
  }

  .change-route-link:hover {
    color: $spotiLogoColor;
  }

  .submit-button {
    transition: 0.2s;
  }
  .submit-button:hover {
    background: $spotiLogoColor;
  }
  img{
    display: flex;
  }
}
