@import "../../scss/colors";

@media (max-width: 800px) {   
  .footer-container {
    position: absolute;
    bottom: 8vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 80px;
    background: $darkColor;
    color: white;
    .footer-content {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      place-items: center;
        h5 {
          margin-top: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          font-size: 12px;
        }

      .social-links {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        div {
          height: 50%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          a {
            margin: 10px;
            text-decoration: none;
            color: white;
            i{
              font-size: 14px;
              animation-duration: 0.3s;
              animation-name: link-icon;
            }
            @keyframes link-icon{
              100% {
                transform: scale(1.2);
                color: $spotiLogoColor;
              }
            }
          }
          a:is(:visited, :hover, :active) {
            color: white;
          }
        }
      }
    }
  }
  }

@media (min-width: 800px) {
  .footer-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 113px;
    background: $darkColor;
    color: white;
    .footer-content {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 55vw 45vw;
      place-items: center;

        h5 {
          display: flex;
          justify-content: end;
          width: 100%;
          font-size: 16px;
          margin: 0;
        }

      .social-links {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        div {
          height: 50%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;
          a {
            margin: 15px;
            text-decoration: none;
            color: white;
            i{
              font-size: 22px;
              transition: all 0.4s ease;
            }
            i:hover{
              font-size: 24px;
              color: $spotiLogoColor;
            }
          }
          a:is(:visited, :hover, :active) {
            color: white;
          }
        }
      }
    }
  }
} ;
