@import "../../scss/colors";

.public-wrapper {
  position: absolute;
  width: 100vw;
  top: 10vh;
  .genre-title {
    color: white;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: left;
    top: 8vh;
    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-left: 2vw;
    }
  }
  .list-title {
    position: absolute;
    width: 100vw;
    top: 35vh;
    color: white;
    display: flex;
    justify-content: left;
    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-left: 2vw;
    }
  }
  .grid-container {
    overflow: auto;
    overflow-y: hidden;
    scrollbar-color: transparent transparent; //only on Firefox
    position: absolute;
    top: 12vh;
    width: 100vw;
    height: 22vh;
    left: 1.5vw;
    display: block;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    .spinner-in-line-cards {
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .genre-card {
      margin-right: 3vw;
      height: 150px;
      width: 120px;
      border-radius: 10px;
      position: relative;
      top: 1.5vh;
      overflow: hidden;
      h2 {
        font-size: 1rem;
        font-weight: bold;
        color: white;
        text-shadow: 1px 0 0 $darkColor, -1px 0 0 $darkColor, 0 1px 0 $darkColor,
          0 -1px 0 $darkColor, 1px 1px $darkColor, -1px -1px 0 $darkColor,
          1px -1px 0 $darkColor, -1px 1px 0 $darkColor;
        position: absolute;
        top: 80%;
        display: flex;
        justify-content: center;
        width: 100%;
      }
      .background-img {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
      }
    }
    .genre-card:last-child {
      margin-bottom: 0vh;
    }
  }
  .grid-container-lists {
    overflow: auto;
    position: absolute;
    top: 39vh;
    width: 100vw;
    height: 25vh;
    display: grid;
    grid-template-columns: auto;
    //grid-template-rows: auto;
    place-items: center;
    gap: 0 30px;
  }
  .list-cards {
    cursor: pointer;
    width: 90vw;
    height: 80px;
    background: $darkColor;
    color: white;
    border: none;
    img {
      width: 80px;
      height: 80px;
      border-radius: 5px 0px 0px 5px;
      transition: 0.2s;
    }
    .card-body {
      h2 {
        display: flex;
        align-items: center;
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
    .play-icon-list {
      display: none;
    }
  }
  .alternate-public-pages {
    top: -7vh;
    position: relative;
    background: $spotiLogoColor;
    color: white;
    padding: 1rem;
    left: 3vw;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 0.8rem;
    }
    /* outline: none; */
  }
  .alternate-public-pages:hover {
    background: white;
    color: black;
  }
  .alternate-public-pages:is(:hover, :active, :focus) {
    outline: none;
    box-shadow: none;
  }
}

@media (min-width: 800px) {
  .public-wrapper {
    position: absolute;
    margin-right: 2vw;
    height: 70vh;
    top: 10%;
    left: 10vw;
    width: 100vw;
    .genre-title {
      top: 0vh;
      h2 {
        font-size: 1.7rem;
      }
    }
    .list-title {
      top: 36vh;
      h2 {
        font-size: 1.8rem;
      }
    }
    .grid-container {
      overflow-y: auto;
      position: absolute;
      top: 5vh;
      //left: -3.5vw;
      width: 90vw;
      height: 220px;
      display: grid;
      grid-template-columns: auto auto auto auto;
      place-items: center;
      //gap: 5px;
      //margin-bottom: 10vh;
      .genre-card {
        margin-bottom: 4vh;
        height: 200px;
        width: 180px;
        left: 0%;
        margin-right: 0;
        border-radius: 10px;
        transition: 0.4s;
        position: relative;
        overflow: hidden;
        h2 {
          font-size: 1.5rem;
          font-weight: bold;
          color: white;
          text-shadow: 1px 0 0 $darkColor, -1px 0 0 $darkColor,
            0 1px 0 $darkColor, 0 -1px 0 $darkColor, 1px 1px $darkColor,
            -1px -1px 0 $darkColor, 1px -1px 0 $darkColor, -1px 1px 0 $darkColor;
          position: absolute;
          display: flex;
          justify-content: center;
          top: -1vh;
          width: 100%;
          transform: translateY(150px);
          transition: 0.5s all ease;
        }
        .card-content {
          position: absolute;
          transform: translateY(100px);
          transition: 1s all ease;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: 0.5s;
          //background: rgba(0, 0, 0, 0.4);
          i {
            transition: all 0.4s ease;
            font-size: 5rem;
            color: white;
          }
          i:hover{
            font-size: 5.5rem;
          }
        }
        .background-img {
          position: absolute;
          width: 100%;
          height: 100%;
          background-size: cover;
          transition: all 0.5s ease;
          background-color: #7ee8fa;
        }
      }
      // .genre-card:last-child{
      //   margin-bottom: 2vh;
      // }
      .genre-card:hover {
        .background-img {
          filter: blur(2px) brightness(0.6);
          opacity: 0.8;
        }
        h2 {
          filter: blur(1.5px);
        }
        .card-content {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    .grid-container-lists {
      top: 42vh;
      width: 100vw;
      height: 30vh;
    }
    .list-cards {
      width: 90vw;
      height: 95px;
      background: $darkColor;
      color: white;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.4s ease;
      img {
        width: 95px;
        height: 95px;
      }

      h2 {
        font-size: 1.5rem;
      }
      .card-body {
        height: 70px;
        display: flex;
        align-items: center;
      }

      .play-icon-list {
        width: 80vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        transform: translateX(-30%);
        opacity: 0;
        transition: all 0.5s ease;
        i {
          display: block;
          font-size: 1.9rem;
          color: transparent;
        }
      }
    }
    .list-cards:hover {
      background: $hoverCard;
      .play-icon-list {
        opacity: 1;
        transform: translateX(0);
        i {
          color: white;
          transition: all 0.4s ease;
        }
        i:hover {
          font-size: 2.2rem;
        }
      }
    }

    .alternate-public-pages {
      top: -6vh;
      position: absolute;
      background: $spotiLogoColor;
      color: white;
      padding: 0.3rem;
      left: 3vw;
      width: 50px;
      height: 50px;
      i {
        font-size: 1.5rem;
      }
    }
  }
}

@media (min-width: 1576px) {
  .public-wrapper {
    .grid-container {
      height: 270px;
      .genre-card {
        height: 250px;
        h2 {
          top: 6.5vh;
        }
      }
    }
    .grid-container-lists {
      .list-cards {
        height: 120px;
        width: 90vw;
        display: flex;
        justify-content: flex-start;
        .play-icon-list {
          width: 80vw;
        }
        img {
          width: 120px;
          height: 120px;
        }
        .card-body {
          height: 100%;
        }

        h2 {
          font-size: 1.5rem;
        }
      }
    }
  }
}
