$darkColor: #212529;
$secondaryColor: #198754;
$labelGrey: #d2d7da;
$spotiLogoColor: #17a84a;
$tablePresentationColor: #aaaaaa;
$mediaBack: #353434;
$mediaBar: #535353;
$mediaSlider: #b3b3b3;
$rowBackground: rgba(96, 245, 101, 0.3);