@import "../../node_modules/bootstrap/scss/bootstrap";

$darkColor: #212529;
$secondaryColor: #198754;
$labelGrey: #d2d7da;

%itemHorizontal {
  display: flex;
  justify-content: center;
}

html {
  body {
    overflow-x: hidden;

    .row {
      overflow-y: hidden;
    }

    .is-disabled{
      pointer-events: none;
      opacity: 0.7;
    }

    .close-modal-button{
      background: transparent;
      border: none;
      color: white;
      padding: 2%;
      transition: 0.1s;
    }

    .close-modal-button:hover {
      border-radius: 5px;
      background-color: red;
    }

    .edit-button-table, .delete-button-table {
      display: flex;
      justify-content: center;
      transition: 0.1s;
      padding: 1rem;
      width: 50%;
      border-radius: 5px;
    }

    .edit-button-table:hover, .delete-button-table:hover {
      background-color: $secondaryColor;
    }

    .search-filter-dropdown {
      box-sizing: border-box;
      //background-image: url('searchicon.png');
      max-width: 100%;
      font-size: 16px;
      padding: 14px 20px 12px 45px;
      border: none;
      border-bottom: 1px solid #ddd;
      transition: 0.1s;
    }

    .search-filter-dropdown:focus, .search-filter-dropdown:hover {outline: 3px solid $secondaryColor;}
    
    .scrollable-menu{
      height: auto;
      max-height: 140px;
      overflow-x: hidden;
    }
    
    .spinner-table-loading {
      @extend %itemHorizontal;
    }
    .display-visible {
      display: grid;
    }

    .sidebar-backoffice{
      display: grid;
      padding-top: 3rem;
    }
    .show-sidebar-button {
      display: none;
    }
  
    .nav-bg-color {
      background-color: green;

      button {
        background-color: transparent;
        border: none;
        transition: 0.2s;
      }
      button:hover {
        background-color: transparent;
      }
      .nav-link-auth {
        color: black;
        transition: 0.2s;
      }
      .nav-link-auth:hover {
        color: white;
      }
    }

    .login-form {
      border: 1px solid white;
      border-radius: 5px;

      .change-route-link {
        color: white;
        text-decoration: inherit;
        transition: 0.2s;
      }

      .change-route-link:hover {
        color: green;
      }

      .submit-button {
        transition: 0.2s;
      }
      .submit-button:hover {
        background-color: green;
      }
    }
    .nav-link {
      display: flex;
      justify-content: start;
      align-items: center;
      height: 4rem;
      margin-left: 4%;
      margin-right: 4%;
      transition: 0.1s;
      border-radius: 2px;
      color: white;
      i {
        color: white;
      }
    }

    .sidebar-link{
      text-decoration: none;
      display: flex;
      justify-content: start;
      align-items: center;
      height: 4rem;
      margin-left: 4%;
      margin-right: 4%;
      transition: 0.3s;
      color: white;
      i {
        color: white;
      }
    }
    .nav-link:hover {
      background-color: $secondaryColor;
      color: white;
    }

    .nav-link .fa {
      transition: all 1s;
    }

    // .nav-link:hover .fa {
    //     transform: rotate(360deg)
    // }

    .table-head-item {
      display: flex;
      justify-content: space-around;
      padding-top: 3rem;

      tr {
        color: white;
      }
    }
    .btn-modal-form {
      color: white;
      width: 50%;
      transition: 0.1s;
      padding: 0.5rem;
    }
    .btn-modal-form:hover {
      background-color: $secondaryColor;
    }
    .hamburguer-button {
      display: none;
      color: white;
      padding: 1rem;
      width: 15%;
      margin: 1rem;
      transition: 0.1s;
    }
    .hamburguer-button:hover {
      background-color: $secondaryColor;
      color: white;
      outline: none;
      box-shadow: none;
    }
    .hamburguer-button:focus, .hamburguer-button:active {
      outline: none;
      box-shadow: none;
    }

    label{
      color: $labelGrey;
      padding-bottom: 0.5rem;
    }

    small{
      color: $labelGrey;
      display: flex;
      justify-content: start;
      padding-top: 10%;
    }

    .input {
      font-size: 1rem;
      padding-left: 1rem;
      display: flex;
      justify-content: center;
      height: 7%;


      input {
        height: 10px;
        border-radius: 5px;
        background-color: white;
        
      }

      input:focus-visible {
        box-shadow: 0 0 0 0.15rem $secondaryColor;
      }
      .MuiOutlinedInput-root{
        background-color: #fff;
      }
      .MuiOutlinedInput-root:hover{
        box-shadow: 0 0 0 0.15rem $secondaryColor;
      }
      .MuiOutlinedInput-notchedOutline {
        display: none;
      }
    }

    .btn-dropdown {
      color: white;
      background-color: $secondaryColor;
      min-width: 50%;
      transition: 0.2;
      margin-top: 5%;
      margin-bottom: 5%;
      transition: 0.2;
    }

    .btn-dropdown:hover {
      color: black;
      background-color: white;
    }
    .btn-dropdown:focus,
    .btn-dropdown:active {
      color: black;
      background-color: white;
      outline: none;
      box-shadow: none;
    }
    .dropdown-menu {
      width: 10%;
      background-color: white;
      color: $secondaryColor;
      border-radius: 5px;
      transition: 0.2;
    }
    .dropdown-item {
      text-align: center;
      padding: 0.5rem;
    }
    .dropdown-item:hover {
      background-color: $secondaryColor;
      color: white;
      transition: 0.2;
    }

    .table-content {
      color: $secondaryColor;
      background-color: $darkColor;
    }
    .modal-delete {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      background-color: $darkColor;
      padding: 2rem;
      color: white;
      border: 2px solid $secondaryColor;
      border-radius: 5px;
      outline: none;
    }
    .typo-flex {
      display: flex;
      justify-content: space-around;

      .btn-modal {
        color: white;
        padding: 1rem;
        width: 10%;
        margin: 1rem;
        transition: 0.1s;
      }

      .btn-modal:hover {
        background-color: $secondaryColor;
      }
      .btn-delete:hover {
        background-color: red;
      }
    }
    .btn-open-form {
      font-size: 1rem;
      width: 10%;
      color: white;
      margin: 0.8rem;
      padding: 1rem;
      transition: 0.1s;
    }
    .btn-open-form:hover {
      background-color: $secondaryColor;
    }
    //SPINNER LOADING

    .lds-ring {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #fff transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

@media (max-width: 767px){
  html{
    body {
      .sidebar-backoffice {
        display: none;
        padding-top: 0;
      }
      .show-sidebar-button {
        display: grid;
      }
      .hamburguer-button{
        display: grid;
      }

      .input {
        min-width: 172px;
      }
    }
  }
  
}
