@import "../../node_modules/bootstrap/scss/bootstrap";

$darkColor: #212529;
$secondaryColor: #198754;

html {
  body {

    .nav-bg-color {
      background-color: green;

      button {
        background-color: transparent;
        border: none;
        transition: 0.2s;
      }
      button:hover {
        background-color: transparent;
      }
      .nav-link-auth {
        color: black;
        transition: 0.2s;
      }
      .nav-link-auth:hover {
        color: white;
      }
    }

    .login-form {
      border: 1px solid white;
      border-radius: 5px;

      .change-route-link {
        color: white;
        text-decoration: inherit;
        transition: 0.2s;
      }

      .change-route-link:hover {
        color: green;
      }

      .submit-button {
        transition: 0.2s;
      }
      .submit-button:hover {
        background-color: green;
      }
    }
    .nav-link{
      display: flex;
      justify-content: start;
      align-items: center;
      height: 4rem;
      margin-left: 4%;
      margin-right: 4%;
      transition: 0.3s;
      color: white;
      i{
        color: white;
      }
      
    }
    .nav-link:hover {
      background-color: $secondaryColor;
      color: white;
    }

    .nav-link .fa {
      transition: all 1s;
    }

    // .nav-link:hover .fa {
    //     transform: rotate(360deg)
    // }

    .table-head-item{
     display: flex;
     justify-self: center;
     tr{
       color: white;
     } 
    .input {
      font-size: 1rem;
      padding-left: 1rem;
      display: flex;
      justify-content: center;
      background-color: white;
      border-radius: 5px;
      margin: 2rem;
      height: 7%;
    }
    }

      .table-content {
        color: white;
      }
  }
}
