@import '../../scss/colors';

@media (max-width: 768px) {
  .cont-res{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-left: 11px;
  .player-container{
    margin-top: 1%;
    width: 100vw;
    border-radius: none;
    .control-buttons{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .song-title-player{
      font-size: 0.7rem;
    }
    .song-artist-name-player{
      font-size: 0.6rem;
    }
    .player-buttons {
      font-size: 2.5rem;
    }
    .current-time-player {
      font-size: 0.6rem;
      color: $tablePresentationColor;
      padding: 1rem;
    }
    .loop-button {
      font-size: 1.2rem;
    }
    .vol-icon {
      display: none;
    }
    .slider-vol{
      display: none
    }
    .back-next-buttons{
      font-size: 1.4rem;
      transition: 0.1s;
    } 
    .data-container{
      display: flex;
      justify-content: end;
      margin-right: -10px;
    }
  }
}
}

.vol-icon {
  width: 2rem;
}
.cont-res{
  width: 100vw;;
.player-container {
  //position: sticky;
  background-color: $mediaBack;
  border-radius: 15px;
}
.song-title-player{
  font-size: 0.8rem;
  color: white;
  margin-left: 1vh;
}
.song-artist-name-player{
  font-size: 0.7rem;
  color: $tablePresentationColor;
}
.player-buttons {
  //padding-top: 0.5rem;
  color: white;
  font-size: 2rem;
}

.slider-vol{
  background: transparent;
  width: 48%;
}
.slider-vol::-moz-range-progress {
  background-color: $spotiLogoColor;
}
.slider-vol::-moz-range-track {
  background-color: $mediaBar;
}
.slider-vol::-moz-range-thumb, .slider::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
.player {
  margin-top: -10px;
}

.current-time-player {
  font-size: 0.7rem;
  color: $tablePresentationColor;
  padding: 1rem;
}
div.progress-bar {
  width: 72%;
  background: transparent;
  background-color: transparent;
  .slider {
    background-color: transparent;
    //-webkit-appearance: none;
  }
  .slider::-moz-range-progress {
    background-color: $spotiLogoColor;
  }
  .slider::-moz-range-track, .slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background-color: $mediaBar;
  }
  .slider::-moz-range-thumb, .slider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
  }
}
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.loop-button {
  color: white;
  font-size: 1.1rem;
  transition: 0.1s;
  background-color: transparent;
}

.back-next-buttons{
  
  color: white;
  font-size: 1.1rem;
  transition: 0.1s;
  background-color: transparent;
}

.back-next-buttons:hover {
  color: $spotiLogoColor;
}

.loop-button-active{
  color: $spotiLogoColor;
}
.table-container {
  height: 60vh;
}
}

