@import "../../scss/colors";

.modal-delete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: $darkColor;
  padding: 2rem;
  color: white;
  border: 2px solid $secondaryColor;
  border-radius: 5px;
  outline: none;
}

.close-modal-button {
  background: transparent;
  border: none;
  color: white;
  padding: 2%;
  transition: 0.1s;
}

.close-modal-button:hover {
  border-radius: 5px;
  background-color: red;
}

.typo-flex {
  display: flex;
  justify-content: space-around;

  .btn-modal {
    color: white;
    padding: 1rem;
    width: 10%;
    margin: 1rem;
    transition: 0.1s;
  }

  .btn-modal:hover {
    background-color: $secondaryColor;
  }
  .btn-delete:hover {
    background-color: red;
  }
}
