@import "../../scss/colors";

.sidebar {
  display: none;
}

@media (min-width: 800px) {
  .sidebar {
    display: flex;
    width: 10vw;
    height: 100vh;
    .sidebar-list {
      width: 100vw;
      margin-top: 25vh;

      ul {
        padding-left: 1vw;
        li {
          height: 5vh;
          display: flex;
          justify-content: start;
          align-items: center;
          list-style: none;
          i {
            font-size: 0.8rem;
            height: 0.6rem;
            color: white;
            padding-right: 5%;
          }
          i:is(:hover){
            color: white;
          }
          a {
            color: white;
            text-decoration: none;
            font-size: 1rem;
            transition: 0.1s;
          }
          :hover {
            color: $spotiLogoColor;
          }
        }
        hr{
          color: white;
        }
      }
    }
  }

  .header-responsive {
    position: absolute;
    left: 0;
    top: 0;
    width: 10vw;
    .spotilogo {
      margin-top: 2.5vh;
      display: flex;
      justify-content: center;
      img {
        min-width: 50px;
        width: 100px;
      }
    }
  }

  .hamburguer-button {
    display: none;
    color: white;
    padding: 1rem;
    width: 15%;
    margin: 1rem;
    transition: 0.1s;
  }
  .hamburguer-button:hover {
    background-color: $secondaryColor;
    color: white;
    outline: none;
    box-shadow: none;
  }
  .hamburguer-button:focus,
  .hamburguer-button:active {
    outline: none;
    box-shadow: none;
  }

  .sidebar-link {
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 4rem;
    margin-left: 4%;
    margin-right: 4%;
    transition: 0.3s;
    color: white;
    i {
      color: white;
    }

    .nav-link {
      display: flex;
      justify-content: start;
      align-items: center;
      height: 4rem;
      margin-left: 4%;
      margin-right: 4%;
      transition: 0.1s;
      border-radius: 2px;
      color: white;
      i {
        color: white;
      }
    }
    .nav-link:hover {
      background-color: $secondaryColor;
      color: white;
    }

    .nav-link .fa {
      transition: all 1s;
    }
  }
}

// @media (max-width: 768px) {
//   .spotilogo, img{
//     display: none;
//   }

//   .sidebar-global-div {
//     height: 20%;

//     .sidebar-backoffice {
//       display: none;
//       padding-top: 0;
//     }
//     .show-sidebar-button {
//       display: grid;
//     }
//     .hamburguer-button {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       padding: 1rem;
//       transition: 0.1s;
//       outline: none;
//       i {
//         font-size: 1.2rem;
//         color: white;
//       }
//     }
//     .hamburguer-button:is(:hover) {
//       background: transparent;
//       i {
//         color: $spotiLogoColor;
//       }
//     }
//     .hamburguer-button:focus {
//       box-shadow: none;
//     }

//     .input {
//       min-width: 172px;
//     }
//   }
// }
