@import '../../scss/colors';



.home-page {
  position: absolute;
  width: 100vw;
}


@media (min-width: 800px) {
  .home-page {
    position: absolute;
    margin-right: 2vw;
    height: 70vh;
    top: 10%;
    left: 10vw;
    width: 100vw;
  }
}

