@import "../../scss/colors";

.spinner-table-loading {
  display: flex;
  justify-content: center;
}
.table-content {
  color: $secondaryColor;
  background-color: $darkColor;
}
.sticky-header {
  position: sticky;
  background-color: $darkColor;
  top: 0;
}
.song-row-home {
  transition: 0.5ms;
  .play-row-button {
    color: white;
    font-size: 1.1rem;
    transition: 0.1s;
    background-color: transparent;
  }
  // .play-row-button:hover {
  //   color: white;
  // }
}

.song-row-home:hover {
  background: $rowBackground;
}
.song-row-playing {
  background: $rowBackground;
}
.songs-found {
  font-size: 0.8rem;
  display: flex;
  justify-content: end;
  color: $tablePresentationColor;
  margin: 1vh;
}

@media (max-width: 768px) {
  .table-content {
    margin-top: 2vh;
    max-width: 100%;
    table{
      margin-left: 2vh;
      max-width: 100%;

      th, td{
        font-size: 0.8rem;
      }
    }
  }
}



@media(max-width: 768px) {
  .songs-found {
    display: none;
    // font-size: 0.7rem;
    // display: flex;
    // justify-content: center;
    // color: $tablePresentationColor;
    // height: 3vh;
  }
  .table-container{
    margin-right: 0;
    min-height: 30vh;
    max-height: 50vh;
  .table-content {
    margin-top: 2vh;
    max-width: 100%;
    min-height: 10vh;
    max-height: 50vh;
    table{
      //margin-left: 2vh;
      min-width: 60vw;
      max-width: 100vw;
      th, td{
        font-size: 0.8rem;
      }
    }
  }
  .song-row-home {
    .play-row-button {
      font-size: 1rem;
    }
  }
}
}
