@import "../../scss/colors";


.contaner-list {
  .spinner-table-loading {
    display: flex;
    justify-content: start;
    width: 100vw;
  }
.table-container{
  margin-top: 1vh;
  height: 55vh;
  .css-1ex1afd-MuiTableCell-root {
    border-bottom: 0; 
  }
    .table-content {
      margin-top: 0vh;
      width: 100vw;
      table {
        width: 100vw;
        th,
        td {
          font-size: 0.8rem;
          -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
          -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
        }
      }
  }
  .sticky-header {
    position: sticky;
    background-color: $darkColor;
    top: 0;
  }
  .song-row-home {
    .play-row-button {
      font-size: 1rem;
    }
  }
}
}
.songs-found {
  top: 60vh;
  /* transform: calc(50%, 50%); */
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-left: 0vw;
  /* margin-right: 49%; */
  font-size: 0.8rem;
  color: #aaaaaa;
  padding-top: 1%;
}


@media (min-width: 800px) {
  .spinner-table-loading {
    display: flex;
    justify-content: center;
  }

 .contaner-list {
    padding-right: 1rem;
    width: 100vw;
    .table-container {
      .table-content {
        color: $secondaryColor;
        background-color: $darkColor;
        width: 100vw;
        table {
          width: 90vw;
          th,
          td {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
          }
          .fav-icon,
          .fav-icon-fav {
            font-size: 1.2rem;
          }
          .fav-icon-fav {
            color: $spotiLogoColor;
          }
        }
      }
    
      .song-row-home {       
        transition: 0.5ms;
        .play-row-button {
          color: white;
          font-size: 1.1rem;
          transition: 0.1s;
          background-color: transparent;
        }
      }
    }
  }

  .song-row-home:hover {
    background: $hoverTableRow;
  }
  .song-row-playing {
    background: $hoverTableRow;
  }
  .songs-found {
    top: 60vh;
    /* transform: calc(50%, 50%); */
    display: flex;
    justify-content: end;
    width: 90vw;
    margin-left: 0vw;
    /* margin-right: 49%; */
    font-size: 0.8rem;
    color: #aaaaaa;
    padding-right: 5%;
    padding-top: 0.5%;
  }
}
